/* Larg Layout: 992px-1280px */
@media only screen and (min-width: 62rem /* 992px */) and (max-width: 75rem /* 1200px */) {

   .menu_area a.boxed_btn,
   .seo_btn a.boxed_btn {
      padding: 0.625rem 0.4375rem; /* 10px 7px */
   }
}

/* Large Layout: 992px-1280px End */


/* Tablet Layout: 768px-991px */
@media only screen and (min-width: 48rem /* 768px */) and (max-width: 61.9375rem /* 991px */) {
   .tile_gallery img:nth-child(1) {
      width: 80%;
   }
}

/* Tablet Layout: 768px-991px End */


/* Tablet & Mobile Layout: 0px-991px */
@media only screen and (max-width: 61.9375rem /* 991px */) {

   .hero_area {
      padding-top: 5rem;
   }

   .website_checker_form input {
      width: 100%;
   }

   /* Responsive Menu Start */
   .menu_area {
      margin-top: 0rem; /* 0px */
   }

   .slicknav_menu {
      display: block;
      background: #ef476f;
   }

   .mainmenu {
      display: none;
   }

   .slicknav_nav a:hover {
      background: #373737;
      color: #fff;
      text-decoration: none;
      outline: none;
   }

   .slicknav_btn {
      background: #ef476f;
      width: 100%;
   }

   .home_2 .slicknav_menu,
   .home_3 .slicknav_menu,
   .about_slick .slicknav_menu {
      background: #06d6a0;
   }

   .home_2 .slicknav_btn,
   .home_3 .slicknav_btn,
   .about_slick .slicknav_btn {
      background: #06d6a0;
   }

   .home_2 .slicknav_menu .slicknav_icon,
   .home_3 .slicknav_menu .slicknav_icon,
   .home_2 .slicknav_menu .slicknav_icon {
      float: right;
   }

   .slicknav_menu .slicknav_menutxt {
      display: none;
   }

   ul.dropdown_header_menu,
   ul.mega_menu {
      position: relative;
      display: none;
      top: 100%;
      opacity: unset;
      visibility: unset;
      transition: unset;
   }

   .mainmenu ul li:hover ul.dropdown_header_menu,
   .mainmenu li:hover ul.mega_menu,
   li.mega_menu_content li {
      display: block;
      opacity: unset;
      visibility: unset;
   }

   li.mega_menu_content h6 {
      font-size: 0.9375rem; /* 15px */
      padding: 0rem; /* 0px */
      margin: 0rem; /* 0px */
      border: none;
   }

   .header_area {
      text-align: left;
   }

   .logo {
      margin-top: 1.25rem; /* 20px */
   }

   .slicknav_nav .slicknav_row:hover {
      background: #373737;
      border-radius: 0rem; /* 0px */
   }

   .header_area a.boxed_btn {
      margin-top: 4.375rem; /* 70px */
   }

   li.mega_menu_content {
      width: 100%;
      text-align: center;
   }

   .slicknav_menu .slicknav_icon {
      float: right;
   }

   .logo {
      display: none;
   }

   .seo_btn {
      position: unset;
      text-align: center;
      margin-top: 3.125rem; /* 50px */
      z-index: 9;
   }

   .menu_area.scrolled {
      padding: 0rem; /* 0px */
      background: transparent;
   }

   /* Responsive Menu End */

   .menu_area a.boxed_btn {
      margin-top: 3.125rem; /* 50px */
   }

   /* Index */
   .website_checker_form input[type="url"] {
      margin-bottom: 1.875rem; /* 30px */
   }

   .transparency a.boxed_btn {
      margin-bottom: 3.125rem; /* 50px */
   }

   .footer_margin {
      margin-top: 3.125rem; /* 50px */
   }

   .bottom_to_top {
      width: 2.5rem; /* 40px */
      height: 2.5rem; /* 40px */
      bottom: 25%;
      left: 90%;
      font-size: 1.5625rem; /* 25px */
   }

   #pricing.section_padding {
      padding-bottom: 0rem; /* 0px */
   }

   #service .section_padding {
      padding-top: 3.125rem; /* 50px */
   }

   #service_2.section_padding {
      padding-bottom: 0rem; /* 0px */
   }

   .single_pricing_box.theme_2 {
      margin-bottom: 3.125rem; /* 50px */
   }

   /* Index End */

   /* home-3 */
   .website_check_form input[type="submit"] {
      width: auto;
   }

   .home_3_blog .single_blog_box {
      margin-bottom: 1.875rem; /* 30px */
   }

   .section_padding.home_3_blog {
      padding: 3.125rem 0rem; /* 50px 0px */
   }

   /* home-3 end */

   /* home-4 */
   .website_check_form input[type="submit"] {
      margin-top: 1.875rem; /* 30px */
   }

   .service_section:after {
      width: 100%;
   }

   .service_section:before {
      display: none;
   }

   /* home-4 end */

}

/* Tablet & Mobile Layout: 0px-991px End */


/* Mobile Layout: 0px-767px */
@media only screen and (max-width: 47.9375rem /* 767px */) {
   li.mega_menu_content {
      width: 100%;
      text-align: center;
   }

   /* Index */

  .website_checker_form {
      margin-bottom: 5rem;
   }

   .cta_area h2 {
      margin-bottom: 2rem;
   }
   
   .footer_area h4 {
      margin-top: 3.125rem; /* 50px */
   }

   .bottom_to_top {
      left: 82%;
   }

   .hero_area {
      padding-top: 3rem;
      padding-bottom: 3rem;
   }

   /* Index end */

   /* home-2 */
   .hero_area.home_2 h1,
   .cta_area.call_to_action_4 h2,
   .single_slide_item h2,
   .single_slide_item h1,
   .cta_area.theme_4 h2,
   .hero_area h1 {
      font-size: 1.875rem; /* 30px */
   }

   .about_text {
      padding-left: 0rem; /* 0px */
      padding-top: 3.125rem; /* 50px */
   }

   .hero_form {
      box-shadow: none;
   }

   /* home-2 end */

   /* home-3 */
   .footer_area_2 {
      text-align: center;
   }

   .footer_area_2 ul {
      margin-bottom: 1.25rem; /* 20px */
      margin-top: 1.25rem; /* 20px */
   }

   .copyright_area_3 ul {
      margin-top: 1.25rem; /* 20px */
   }

   .single_slide_item h2 {
      line-height: unset;
   }

   .website_check_form input {
      width: 100%;
      margin-bottom: 1.25rem; /* 20px */
   }

   #service_3.section_padding {
      padding-top: 0rem; /* 0px */
   }

   /* home-3 end */

   /* home-4 */
   .single_slide_item h1 {
      margin-top: 3.75rem; /* 60px */
   }

   .homepage_4_slides {
      height: auto;
   }

   .section_padding.theme_4 {
      padding-bottom: 0rem; /* 0px */
   }

   .section_padding.service_section {
      padding-bottom: 0rem; /* 0px */
   }

   .feature_content {
      padding-top: 3.125rem; /* 50px */
   }

   .feature.section_padding {
      padding-bottom: 0rem; /* 0px */
   }

   .feature_icon {
      margin-bottom: 0.9375rem; /* 15px */
      width: 100%;
   }

   .tile_gallery img:nth-child(1) {
      position: unset;
      width: 100%;
      box-shadow: 0rem 0.25rem 0.625rem 0rem /* 0px 4px 10px 0px */ #bdaba5;
   }

   .tile_gallery img:nth-child(2) {
      display: none;
   }

   .tile_gallery {
      height: auto;
   }

   /* home-4 end */

   /* service-details */
   .section_padding.service_details {
      padding-bottom: 0rem; /* 0px */
   }

   /* service-details end */

   /* contact-v1 */
   .blog_single img {
      width: 100%;
      margin-bottom: 3.125rem; /* 50px */
   }

   /* contact-v1 end */

   /* contact-v2 */
   .reply_form {
      margin-bottom: 5rem; /* 80px */
   }

   /* contact-v2 end */

   /* faq */
   .faq_content h3 {
      margin-top: 5rem; /* 80px */
   }

   /* faq end */

   /* pricing table */
   .section_title h2 {
      margin-top: 5rem; /* 80px */
   }

   /* pricing table end */

   /* seo analysis */
   .hero_form.seo {
      box-shadow: none;
   }

   /* seo analysis end */

   /* service-details */
   .service_box_4 {
      margin-top: 3.125rem; /* 50px */
   }

   /* service-details end */

}

/* Mobile Layout: 0px-767px End */


/* Small Devices: 0px-575px Start */
@media only screen and (max-width: 35.9375rem /* 575px */) {
   .service_arrow_1 {
      display: none;
   }

}

/* Small Devices: 0px-575px End */