h3 {
   font-size: 22px;
}

/************************************** 
      Hero Area Start
***************************************/
.hero_area {
   background-image: url(../img/home-2/home-2-hero-bg.jpg);
   background-color: #3394F5;
   color: #fff;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   line-height: 1.9;
   padding: 90px;
}

.hero_area h1 {
   font-size: 50px;
   color: #fff;
}

.boxed_btn,
input[type="submit"],
button[type="submit"],
.bottom_to_top {
   background-color: #06D6A0;
}

.mainmenu li:hover a,
.footer_area li:hover a {
   color: #06d6a0;
}

ul.dropdown_header_menu,
ul.mega_menu {
   background: #06d6a0;
}

.social_links ul li:hover a {
   color: #06d6a0;
}

/************************************** 
   Hero Area End
***************************************/


/************************************** 
   Home-2 Service Start
***************************************/
.service_icon {
   color: #299DF8;
   margin-bottom: 30px;
   transition: .2s;
}

/************************************** 
    Home-2 Service End 
***************************************/
