body {
   font-weight: 300;
   line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 700;
}

/************************************** 
  Off Canvas Menu Start
***************************************/
.off_canvas_menu {
   position: fixed;
   width: 300px;
   height: 100%;
   background: #073b4c;
   z-index: 99;
   left: -300px;
   top: 0;
   opacity: 0;
   padding: 40px;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.off_canvas_menu.show_off_canvas_menu {
   left: 0px;
   opacity: 1;
}

.menu_close {
   position: absolute;
   right: 0px;
   top: 0px;
   padding: 20px;
   color: #fff;
   cursor: pointer;
}

.off_canvas_menu a {
   color: #fff;
   text-decoration: none;
}

.menu_logo {
   text-transform: uppercase;
   border: 1px solid #999;
   display: inline-block;
   padding: 10px 15px 1px;
   margin-bottom: 20px;
   margin-top: 20px;
   font-weight: 700;
}

.off_canvas_menu ul li {
   list-style: none;
   line-height: 2;
   font-size: 120%;
}

.off_canvas_menu a:hover {
   opacity: .5;
}

.menu_area.header_absolute {
   position: fixed;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.menu_area.scrolled {
   background: #073B4C;
   padding: 0px;
}

.menu_area.scrolled .menu_trigger,
.menu_area.scrolled .search_trigger {
   padding: 7px 0px;
}

.menu_trigger,
.search_trigger {
   color: #fff;
   font-size: 25px;
   padding: 20px 0px;
   cursor: pointer;
   line-height: 51px;
}

.search_box {
   padding: 10px;
   width: 20%;
   display: inline-block;
   position: fixed;
   left: 58%;
   border: 1px solid #999;
   opacity: 0;
   z-index: -1;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.search_box.active {
   opacity: 1;
   z-index: 1;
}

.off_canvas_menu_shade {
   background: #073b4c;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 98;
   opacity: 0;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
   visibility: hidden;
}

.off_canvas_menu_shade.active {
   opacity: .84;
   visibility: visible;
}

.bottom_to_top {
   background: #06D6A0;
}

.bottom_to_top:hover {
   color: #06d6a0;
}

/************************************** 
  Off Canvas Menu End
***************************************/


/************************************** 
         Header Area Start
***************************************/
.homepage_4_slides {
   background-image: url(../img/home-4/home-4-hero-area-bg.jpg);
   height: 100vh;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   position: relative;
   z-index: 1;
   color: #fff;
   background-color: #073b4c;
}

.homepage_4_slides:after {
   content: '';
   position: absolute;
   background-color: #073b4c;
   opacity: .25;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.single_slide_item h1 {
   font-size: 43px;
   color: #fff;
   font-weight: 700;
}

.single_slide_item p {
   line-height: 28px;
   margin: 30px 0px;
   font-weight: 300;
}

.website_check_form input {
   width: 22%;
   margin-right: 3%;
   background: #073B4C;
   border-color: #073b4c;
   caret-color: #fff;
   color: #fff;
}

.website_check_form input[type="submit"] {
   width: 15%;
   background: #06D6A0;
}

.website_check_form input::-webkit-input-placeholder {
   color: #fff;
}

.website_check_form input:-moz-placeholder {
   color: #fff;
}

.website_check_form input::-moz-placeholder {
   color: #fff;
}

.website_check_form input:-ms-input-placeholder {
   color: #fff;
}

.website_check_form input::-ms-input-placeholder {
   color: #fff;
}

.website_check_form input::placeholder {
   color: #fff;
}

/************************************** 
         Header Area End
***************************************/


/************************************** 
How can traffic help my buisness grow Start
***************************************/
.about_text {
   padding-left: 50px;
}

.about_text h3 {
   font-size: 26px;
   margin-bottom: 30px;
}

a.inline_btn {
   font-weight: 600;
   color: #06d6a0;
   margin-top: 25px;
   display: inline-block;
}

a.inline_btn i {
   padding-left: 5px;
}

.tile_gallery img:nth-child(2) {
   position: absolute;
   right: 0%;
   top: 0%;
   -webkit-box-shadow: -3px 10px 15px 0px #bdaba5;
   -moz-box-shadow: -3px 10px 15px 0px #bdaba5;
   box-shadow: -3px 10px 15px 0px #bdaba5;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.tile_gallery {
   height: 480px;
}

.tile_gallery img:nth-child(1) {
   position: absolute;
   bottom: 0%;
   left: 0%;
   z-index: 1;
   -webkit-box-shadow: -3px 10px 15px 0px #bdaba5;
   -moz-box-shadow: -3px 10px 15px 0px #bdaba5;
   box-shadow: -3px 10px 15px 0px #bdaba5;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

/************************************** 
How can traffic help my buisness grow End
***************************************/


/************************************** 
   Service Section Start
***************************************/
.service_section {
   position: relative;
   z-index: 1;
   margin-top: 60px;
}

.service_section:before {
   background-image: url(../img/home-4/service_bg.jpg);
   background-color: #073b4c;
   content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   right: 0%;
   top: -60px;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: center;
   -webkit-box-shadow: 0px 4px 7px 1px #D2D2D2;
   -moz-box-shadow: 0px 4px 7px 1px #D2D2D2;
   box-shadow: 0px 4px 7px 1px #D2D2D2;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.service_section:after {
   content: '';
   position: absolute;
   background-color: #FDFDFD;
   width: 54%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: -1;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: 0px 0px 11px 2px #F2F2F2;
   -moz-box-shadow: 0px 0px 11px 2px #F2F2F2;
   box-shadow: 0px 0px 11px 2px #F2F2F2;
}

.service_content {
   padding-top: 90px;
   padding-bottom: 40px;
}

.service_box_4 {
   margin-bottom: 50px;
}

.service_box_4 h4 {
   font-size: 18px;
   margin: 10px 0px 25px;
}

.service_icon_4 {
   color: #06D6A0;
   font-size: 40px;
}

/************************************** 
   Service Section End
***************************************/


/************************************** 
   How traffic work Start
***************************************/
.cta_area.theme_4 {
   position: relative;
   z-index: 1;
   color: #fff;
   padding: 90px 0px;
   background-image: url(../img/home-4/how_to_bg.jpg);
   background-color: #073b4c;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
}

.cta_area.theme_4:after {
   content: '';
   background: #000000;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: -1;
   opacity: .1;
}

.cta_area.theme_4 h2 {
   font-size: 36px;
   color: #fff;
}

.cta_area.theme_4 p {
   margin: 25px 0px 20px;
}

.video_play_icon {
   font-size: 20px;
   background: #06D6A0;
   width: 70px;
   height: 70px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border: 1px solid transparent;
}

/************************************** 
   How traffic work End
***************************************/


/************************************** 
   Feature Section Start
***************************************/
.feature_content h2 {
   font-size: 26px;
}

.feature_content span {
   margin: 20px 0px;
   display: block;
}

.single_feature_item h3 {
   font-size: 18px;
}

.single_feature_item {
   margin-top: 40px;
}

.single_feature_item h3 {
   margin-bottom: 30px;
}

.feature_icon {
   font-size: 35px;
   color: #06D6A0;
}

.image_shadow {
   -webkit-box-shadow: 0px 2px 15px 0px #ddd;
   -moz-box-shadow: 0px 2px 15px 0px #ddd;
   box-shadow: 0px 2px 15px 0px #ddd;
}

/************************************** 
   Feature Section End
***************************************/


/************************************** 
   Testimonial Section Start
***************************************/
.single_testimial_box_4 {
   overflow: hidden;
}

.testimonial_content_4 {
   position: relative;
   color: #cbcbcb;
   padding: 28px 20px;
}

.testimonial_content_4:after {
   content: '';
   position: absolute;
   background: #06d6a0;
   width: 50px;
   height: 50px;
   -webkit-transform: skew(21deg) rotate(47deg);
   -moz-transform: skew(21deg) rotate(47deg);
   -ms-transform: skew(21deg) rotate(47deg);
   -o-transform: skew(21deg) rotate(47deg);
   transform: skew(21deg) rotate(47deg);
   left: -3px;
   bottom: -15px;
   z-index: -1;
   opacity: 0;
}

.active .testimonial_content_4:after {
   opacity: 1;
}

.active .testimonial_content_4 {
   background: #06D6A0;
   color: #fff;
}

.testimonial_content_4 i {
   font-size: 40px;
   margin-bottom: 20px;
}

p.author_detail {
   padding-left: 25px;
   font-size: 14px;
}

p.author_detail strong {
   font-weight: 700;
   color: #373737;
}

.testimonial_author {
   margin-top: 50px;
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   opacity: 0;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.active .testimonial_author {
   opacity: 1;
}

.testimonial_author img {
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   width: 60px;
}

/************************************** 
   Testimonial Section End
***************************************/


/************************************** 
   Call to Action Start
***************************************/
.cta_area.call_to_action_4 {
   background-image: url(../img/home-4/call_to_action.jpg);
   background-color: #073b4c;
   z-index: 1;
   position: relative;
   color: #fff;
}

.cta_area.call_to_action_4:after {
   content: '';
   position: absolute;
   background: #073b4c;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: .62;
   z-index: -1;
}

.cta_area.call_to_action_4 h2 {
   font-size: 36px;
   color: #fff;
}

.cta_area.call_to_action_4 p {
   font-size: 16px;
   margin: 20px 0px;
}

.cta_area.call_to_action_4 a.boxed_btn {
   background: #06D6A0;
   font-weight: 600;
   letter-spacing: 1px;
}

/************************************** 
       Call to Action End
***************************************/


/************************************** 
       Footer Area Start
***************************************/
.footer_area.theme_4 {
   background: #073B4C;
}

.footer_area.theme_4 a,
.footer_area.theme_4 h4 {
   color: #fff;
}

.footer_area.theme_4 li a i {
   padding-right: 10px;
}

.footer_area.theme_4 li:hover a {
   color: #06D6A0;
}

.footer_area.theme_4 li {
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.boxed_btn,
input[type="submit"],
button[type="submit"] {
   background: #06D6A0;
}

.footer_area.theme_4 h4 {
   margin-bottom: 35px;
}

/************************************** 
       Footer Area End
***************************************/


/************************************** 
       Copy Right Area Start
***************************************/
.copyright_area.theme_4 {
   background: #0F2E38;
   color: #fff;
}

.copyright_area.theme_4 a {
   color: #fff;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.copyright_area.theme_4 a:hover {
   color: #06D6A0;
}

/************************************** 
       Copy Right Area End
***************************************/