body {
   font-weight: 300;
   line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 700;
}

.boxed_btn,
input[type="submit"],
button[type="submit"],
.bottom_to_top {
   background: #06D6A0;
}

.theme_4 .bottom_to_top:hover {
   color: #333;
}

/************************************** 
  Off Canvas Menu Start
***************************************/
.menu_area_4 {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 98;
}

.off_canvas_menu {
   position: fixed;
   width: 300px;
   height: 100%;
   background: #073b4c;
   z-index: 99;
   left: -300px;
   top: 0;
   opacity: 0;
   padding: 40px;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
   overflow-y: auto;
}

.off_canvas_menu.show_off_canvas_menu {
   left: 0px;
   opacity: 1;
}

.menu_close {
   position: absolute;
   right: 0px;
   top: 0px;
   padding: 20px;
   color: #fff;
   cursor: pointer;
}

.off_canvas_menu a {
   color: #fff;
   text-decoration: none;
}

.menu_logo {
   text-transform: uppercase;
   border: 1px solid #999;
   display: inline-block;
   padding: 10px 15px 1px;
   margin-bottom: 20px;
   margin-top: 20px;
   font-weight: 700;
}

.off_canvas_menu ul li {
   list-style: none;
   line-height: 2;
   font-size: 120%;
}

.off_canvas_menu a:hover {
   opacity: .5;
}

.menu_area.header_absolute {
   position: fixed;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.menu_area.scrolled {
   background: #073B4C;
   padding: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.menu_area.scrolled .menu_trigger,
.menu_area.scrolled .search_trigger {
   padding: 7px 0px;
}

.menu_trigger,
.search_trigger {
   color: #fff;
   font-size: 25px;
   padding: 20px 0px;
   cursor: pointer;
   line-height: 51px;
}

.off_canvas_menu_shade {
   background: #073b4c;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 98;
   opacity: 0;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
   visibility: hidden;
}

.off_canvas_menu_shade.active {
   opacity: .84;
   visibility: visible;
}

.bottom_to_top {
   background: #06D6A0;
}

.bottom_to_top:hover {
   color: #06d6a0;
}

/************************************** 
  Off Canvas Menu End
***************************************/


/************************************** 
      Home-4 Sarch Start
***************************************/
.search_box {
   padding: 10px;
   width: 20%;
   display: inline-block;
   position: fixed;
   left: 58%;
   border: 1px solid #999;
   opacity: 0;
   z-index: -1;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.search_bar_wrap {
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 99;
   background: #073B4C;
   color: #fff;
   text-align: center;
   visibility: hidden;
   opacity: 0;
   transition: .2s;
}

.search_bar_wrap.active {
   visibility: visible;
   opacity: 1;
}

.search_bar_table {
   max-width: 500px;
}

.search_bar_table p {
   margin: 20px 0px;
}

.search_bar_wrap h2 {
   color: #fff;
}

.search_bar_table input {
   border: none;
   padding: 10px;
}

.search_close {
   position: absolute;
   top: 10px;
   right: 10px;
   padding: 20px;
   display: inline-block;
   cursor: pointer;
}

/************************************** 
      Home-4 Sarch End
***************************************/


/************************************** 
         Header Area Start
***************************************/
.homepage_4_slides {
   background-image: url(../img/home-4/home-4-hero-area-bg.jpg);
   height: 100vh;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   position: relative;
   z-index: 1;
   color: #fff;
   background-color: #073b4c;
}

.homepage_4_slides:after {
   content: '';
   position: absolute;
   background-color: #073b4c;
   opacity: .25;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.single_slide_item h1 {
   font-size: 43px;
   color: #fff;
   font-weight: 700;
}

.single_slide_item p {
   line-height: 28px;
   margin: 30px 0px;
   font-weight: 300;
}

.website_check_form input {
   width: 22%;
   margin-right: 3%;
   background: #073B4C;
   border-color: #073b4c;
   caret-color: #fff;
   color: #fff;
}

.website_check_form input[type="submit"] {
   width: 15%;
   background: #06D6A0;
}

.website_check_form input::-webkit-input-placeholder {
   color: #fff;
}

.website_check_form input:-moz-placeholder {
   color: #fff;
}

.website_check_form input::-moz-placeholder {
   color: #fff;
}

.website_check_form input:-ms-input-placeholder {
   color: #fff;
}

.website_check_form input::-ms-input-placeholder {
   color: #fff;
}

.website_check_form input::placeholder {
   color: #fff;
}

/************************************** 
         Header Area End
***************************************/