/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800&display=swap');

* {
   margin: 0rem;
   padding: 0rem;
}

body {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   color: #999999;
   font-size: 0.9375rem;
   font-family: 'Khula', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
   color: #373737;
}

ul,
p {
   margin: 0rem;
   padding: 0rem;
}

img {
   max-width: 100%;
   height: auto;
}


/************************************** 
      Menu Section Start
***************************************/
.menu_area {
   padding: 1.25rem 0rem;
}

.main_menu ul li {
   list-style: none;
   display: inline-block;
   position: relative;
}

.main_menu ul li a {
   display: block;
   color: #888;
   font-size: 0.937rem;
   padding: 0.75rem 0.937rem;
   text-decoration: none;
}

.boxed_btn,
input[type="submit"],
button[type="submit"] {
   color: #fff;
   background: #ef476f;
   display: inline-block;
   padding: 0.9375rem 1.25rem;
   text-align: center;
   -webkit-border-radius: 0.20rem;
   -moz-border-radius: 0.20rem;
   border-radius: 0.20rem;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.boxed_btn:hover {
   color: #000;
}

input[type="submit"],
button[type="submit"] {
   padding: 0.687rem 2.125rem;
   display: inline-block;
   border: none;
   font-weight: 400;
}


/************************************** 
      Menu Section End
***************************************/


/************************************** 
     Header Section Start
***************************************/
.hero_area {
   font-weight: 300;
   padding: 9.375rem 0rem;
   border-bottom: 0.0625rem solid #F6F6F6;
}

.hero_area h1 {
   font-size: 2.5rem;
   max-width: 28rem;
}

.hero_area p {
   margin-top: 0.90rem;
   margin-bottom: 1.875rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
textarea {
   padding: 0.625rem 0.937rem;
   border: 0.0625rem solid #EFEFEF;
   font-weight: 300;
}

/************************************** 
     Header Section End
***************************************/


/************************************** 
     Services Section Start
***************************************/
.section_padding {
   padding: 7.187rem 0rem;
}

.transparency {
   padding-top: 4.062rem;
   line-height: 1.8;
}

.transparency h2 {
   font-size: 1.75rem;
}

.transparency p {
   margin-top: 1.5625rem;
   margin-bottom: 1.25rem;
}

.section_title {
   margin-bottom: 5.625rem;
}

.section_title h2 {
   font-size: 1.75rem;
}

.section_title p {
   margin-top: 0.9375rem;
}

.singl_service_box {
   padding: 1.5625rem;
   border: 0.0625rem solid #F3F3F3;
   font-weight: 300;
   margin-bottom: 3.125rem;
   line-height: 1.6;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.singl_service_box:hover {
   border-color: #EF476F;
}

.singl_service_box:hover .service_icon,
.singl_service_box:hover .service_readmore_btn,
.singl_service_box:hover h3 {
   color: #EF476F;
}

.service_icon {
   font-size: 1.875rem;
   color: #7a7878;
}

.singl_service_box h3 {
   font-size: 1.25rem;
   margin-top: 0.875rem;
   margin-bottom: 1.25rem;
}

.service_readmore_btn {
   color: #373737;
   font-weight: 400;
   display: inline-block;
   margin-top: 1.25rem;
}

.service_readmore_btn i {
   padding-left: 0.625rem;
}

/************************************** 
     Services Section End
***************************************/


/************************************** 
     Case Study Section Start
***************************************/
.case_study_bg_1 {
   background-image: url(../img/home/case_study_bg_1.jpg);
}

.case_study_bg_2 {
   background-image: url(../img/home/case_study_bg_2.jpg);
}

.case_study_bg_3 {
   background-image: url(../img/home/case_study_bg_3.jpg);
}

.case_study_bg_4 {
   background-image: url(../img/home/case_study_bg_4.jpg);
}

.case_study_bg_5 {
   background-image: url(../img/home/case_study_bg_5.jpg);
}

.case_study_bg_6 {
   background-image: url(../img/home/case_study_bg_6.jpg);
}

.gray_bg {
   background: #FBFBFB;
}

.single_case_study {
   background-color: #EEEEF0;
   -moz-border-radius: 0.1875rem;
   -webkit-border-radius: 0.1875rem;
   border-radius: 0.1875rem;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.case_study_wrapper {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   height: 20rem;
   padding: 1.875rem;
   background: #EF476F;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
   opacity: 0;
   -webkit-border-radius: 0.1875rem;
   -moz-border-radius: 0.1875rem;
   border-radius: 0.1875rem;
}

.single_case_study:hover .case_study_wrapper {
   opacity: 1;
}

.case_study_wrapper h3,
.case_study_wrapper h4,
.case_study_wrapper p {
   color: #fff;
}

.case_study_wrapper h4 {
   margin: 0.625rem 0rem 1.875rem 0rem;
   font-size: 1.0625rem;
}

.case_study_wrapper h3 {
   font-size: 1.5rem;
}

.case_study_wrapper p {
   font-weight: 300;
}

a.case_study_more {
   width: 2.5rem;
   height: 2.5rem;
   background: #fff;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0.9375rem auto 0rem;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   text-decoration: none;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.case_study_more:hover {
   color: #ef476f
}

/* For Carousel Customization */
.case_studies_carousel.owl-carousel .owl-stage-outer {
   overflow: inherit;
}

.overflow_x_hidden {
   overflow: hidden;
}

.owl-theme .owl-dots .owl-dot span {
   width: 1.25rem;
   height: 0.1875rem;
   background-color: #E2E2E2;
   margin-top: 1.25rem;
}

.owl-theme .owl-dots .owl-dot.active span {
   background-color: #EF476F;
}

/* For Carousel Customization / */

/************************************** 
     Case Study Section End
***************************************/


/************************************** 
     Testimonial Section Start
***************************************/
.testimonial_content p {
   font-size: 1.5rem;
   color: #373737;
   font-weight: 400;
}

.testimonial_carousel.owl-carousel .owl-item .testimonial_meta img {
   width: 3.75rem;
   height: 3.75rem;
   display: inline-block;
   margin-top: 1.875rem;
   background-color: #F0F0F2;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.testimonial_carousel.owl-theme.owl-carousel .owl-dots {
   margin-top: 1.5625rem;
}

.testimonial_meta h4 {
   font-size: 1.125rem;
   margin: 1.5625rem 0rem 0.625rem;
}

.testimonial_meta p {
   font-size: 0.875rem;
   font-weight: 300;
}

.cta_area {
   background-color: #F8F8F8;
   padding: 3.75rem 0rem;
}

.cta_area h2 {
   font-size: 1.75rem;
}

.cta_area .boxed_btn {
   font-size: 0.875rem;
   padding: 0.9375rem 1.5625rem;
}

/************************************** 
     Testimonial Section End
***************************************/


/************************************** 
     Pricing Section Start
***************************************/
.single_pricing_box {
   border: 0.0625rem solid #fbfbfb;
   padding: 1.875rem;
   margin-bottom: 4.6875rem;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.pricing_content {
   font-size: 1.0625rem;
   line-height: 2.4;
   font-weight: 300;
}

.pricing_content li {
   list-style: none;
}

.pricing_heading {
   border-bottom: 0.0625rem solid #fafafa;
   padding-bottom: 1.875rem;
   margin-bottom: 0.9375rem;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.pricing_count {
   font-weight: 400;
   font-size: 3.125rem;
   color: #ef476f;
}

.pricing_heading h4 {
   font-size: 1.25rem;
   margin: 1.5625rem 0rem 0.9375rem;
}

.pricing_heading span {
   font-weight: 300;
   font-size: 0.875rem;
}

.pricing_content ul {
   margin-bottom: 2.5rem;
}

.pricing_content ul li {
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
   cursor: pointer;
   border-bottom: 0.0625rem solid transparent;
}

.pricing_content ul li:hover {
   border-bottom: 0.0625rem solid;
}

.pricing_content a.boxed_btn {
   line-height: 1.4;
}

.single_pricing_box:hover {
   border-color: #EF476F;
}

.single_pricing_box:hover .pricing_heading {
   border-color: #EF476F;
}

/************************************** 
     Pricing Section End
***************************************/


/************************************** 
    Company Logo Start
***************************************/
.owl-carousel .owl-item .logo_item_inner img {
   width: auto;
}

.single_logo_item {
   height: 6.25rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   opacity: .7;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.single_logo_item:hover {
   opacity: 1;
}

/************************************** 
    Company Logo End
***************************************/


/************************************** 
    Footer Area Start
***************************************/
.footer_area {
   background: #fdfdfd;
   padding: 6.25rem 0rem;
}

.footer_area a {
   color: #999999;
   font-weight: 300;
}

.footer_area h4 {
   font-size: 1.25rem;
   margin-bottom: 1.5625rem;
}

.footer_area li {
   list-style: none;
   line-height: 2;
}

.email_subscribe_form input[type="email"] {
   border: 0.0625rem solid transparent;
   margin-right: -0.3125rem;
   width: 60%;
   padding: 0.9375rem 0.625rem;
   background-color: #F6F6F6;
}

.email_subscribe_form input[type="submit"] {
   -webkit-border-radius: 0rem 0.1875rem 0.1875rem 0rem;
   -moz-border-radius: 0rem 0.1875rem 0.1875rem 0rem;
   border-radius: 0rem 0.1875rem 0.1875rem 0rem;
   padding: 0.9375rem 1.5625rem;
   border: 0.0625rem solid transparent;
}

.social_links {
   margin-top: 2.5rem;
}

.social_links ul li {
   display: inline-block;
   width: 32%;
}

.social_links ul li a i {
   padding-right: 0.625rem;
   color: #373737;
}

.social_links ul li:hover a {
   color: #EF476F;
}

.social_links ul li a {
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

/************************************** 
    Footer Area End
***************************************/


/************************************** 
    Copyright Area Start
***************************************/
.copyright_area {
   padding: 0.9375rem 0rem;
   background: #f7f7f7;
}

.copyright_area a {
   color: #999;
}

.bottom_to_top {
   width: 3.125rem;
   height: 3.125rem;
   background: #ef476f;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   border: none;
   position: fixed;
   bottom: 13%;
   left: 95%;
   font-size: 1.875rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #fff;
   z-index: 10;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
   opacity: 0;
}

/************************************** 
    Copyright Area End
***************************************/


/************************************** 
   Home-2 Hero Area Start
***************************************/
.hero_form {
   background-color: #fff;
   padding: 30px;
   color: #999;
   position: relative;
   z-index: 1;
   border-radius: 5px;
}

.hero_form:after {
   content: '';
   position: absolute;
   background-color: rgba(255, 255, 255, 0.2);
   width: 100%;
   height: 100%;
   top: 10px;
   left: 10px;
   border-radius: 5px;
   z-index: -1;
}

.hero_form_header h3 {
   font-size: 22px;
}

.hero_form_header p {
   font-size: 14px;
   margin-top: 10px;
}

.hero_form_header {
   margin-bottom: 35px;
}

.hero_form input {
   width: 100%;
   margin-top: 15px;
}

.hero_form input[type="submit"] {
   width: 200px;
   margin-top: 35px;
   display: inline-block;
}

/************************************** 
   Home-2 Hero Area End
***************************************/