/* Adobe Fonts */
@import url("https://use.typekit.net/ayk8xpr.css");

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800&display=swap');

* {
   margin: 0rem;
   padding: 0rem;
}

body {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   color: #999999;
   font-size: 0.9375rem;
   font-family: 'Khula', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
   color: #373737;
}

ul,
p {
   margin: 0rem;
   padding: 0rem;
}

img {
   max-width: 100%;
   height: auto;
}

.slide_items_wrapper span {
   display: none;
}


/************************************** 
      Menu Section Start
***************************************/
.menu_area {
   padding: 1.25rem 0rem;
}

.main_menu ul li {
   list-style: none;
   display: inline-block;
   position: relative;
}

.main_menu ul li a {
   display: block;
   color: #888;
   font-size: 0.937rem;
   padding: 0.75rem 0.937rem;
   text-decoration: none;
}

.boxed_btn,
input[type="submit"],
button[type="submit"] {
   color: #fff;
   background: #ef476f;
   display: inline-block;
   padding: 0.9375rem 1.25rem;
   text-align: center;
   -webkit-border-radius: 0.20rem;
   -moz-border-radius: 0.20rem;
   border-radius: 0.20rem;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.boxed_btn:hover {
   color: #000;
}

input[type="submit"],
button[type="submit"] {
   padding: 0.687rem 2.125rem;
   display: inline-block;
   border: none;
   font-weight: 400;
}

/************************************** 
      Menu Section End
***************************************/


/************************************** 
     Header Section Start
***************************************/
.menu_area.header_absolute {
   position: absolute;
   z-index: 10;
   width: 100%;
   left: 0;
   top: 0;
}

.hero_area {
   font-weight: 300;
   padding: 9.375rem 0rem;
   border-bottom: 0.0625rem solid #F6F6F6;
}

.hero_area h1 {
   font-size: 2.5rem;
   max-width: 28rem;
}

.hero_area p {
   margin-top: 0.90rem;
   margin-bottom: 1.875rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
textarea {
   padding: 0.625rem 0.937rem;
   border: 0.0625rem solid #EFEFEF;
   font-weight: 300;
}

/************************************** 
     Header Section End
***************************************/


/************************************** 
     Services Section Start
***************************************/
.section_padding {
   padding: 7.187rem 0rem;
}

.transparency {
   padding-top: 4.062rem;
   line-height: 1.8;
}

.transparency h2 {
   font-size: 1.75rem;
}

.transparency p {
   margin-top: 1.5625rem;
   margin-bottom: 1.25rem;
}

.section_title {
   margin-bottom: 5.625rem;
}

.section_title h2 {
   font-size: 1.75rem;
}

.section_title p {
   margin-top: 0.9375rem;
}

.singl_service_box {
   padding: 1.5625rem;
   border: 0.0625rem solid #F3F3F3;
   font-weight: 300;
   margin-bottom: 3.125rem;
   line-height: 1.6;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.singl_service_box:hover {
   border-color: #EF476F;
}

.singl_service_box:hover .service_icon,
.singl_service_box:hover .service_readmore_btn,
.singl_service_box:hover h3 {
   color: #EF476F;
}

.service_icon {
   font-size: 1.875rem;
   color: #7a7878;
}

.singl_service_box h3 {
   font-size: 1.25rem;
   margin-top: 0.875rem;
   margin-bottom: 1.25rem;
}

.service_readmore_btn {
   color: #373737;
   font-weight: 400;
   display: inline-block;
   margin-top: 1.25rem;
}

.service_readmore_btn i {
   padding-left: 0.625rem;
}

/************************************** 
     Services Section End
***************************************/


/************************************** 
     Case Study Section Start
***************************************/
.case_study_bg_1 {
   background-image: url(../img/home/case_study_bg_1.jpg);
}

.case_study_bg_2 {
   background-image: url(../img/home/case_study_bg_2.jpg);
}

.case_study_bg_3 {
   background-image: url(../img/home/case_study_bg_3.jpg);
}

.case_study_bg_4 {
   background-image: url(../img/home/case_study_bg_4.jpg);
}

.case_study_bg_5 {
   background-image: url(../img/home/case_study_bg_5.jpg);
}

.case_study_bg_6 {
   background-image: url(../img/home/case_study_bg_6.jpg);
}

.case_study_1 .case_study_bg_1 {
   background-image: url(../img/case-study/case_study_item_1.jpg);
}

.case_study_1 .case_study_bg_2 {
   background-image: url(../img/case-study/case_study_item_2.jpg);
}

.case_study_1 .case_study_bg_3 {
   background-image: url(../img/case-study/case_study_item_3.jpg);
}

.case_study_1 .case_study_bg_4 {
   background-image: url(../img/case-study/case_study_item_4.jpg);
}

.case_study_1 .case_study_bg_5 {
   background-image: url(../img/case-study/case_study_item_5.jpg);
}

.case_study_1 .case_study_bg_6 {
   background-image: url(../img/case-study/case_study_item_6.jpg);
}

.case_study_1 .case_study_bg_7 {
   background-image: url(../img/case-study/case_study_item_7.jpg);
}

a.load_more_btn {
   color: #06D6A0;
   font-weight: 600;
   font-size: 14px;
}

a.load_more_btn i {
   padding-left: 10px;
}

.gray_bg {
   background: #FBFBFB;
}

.single_case_study {
   background-color: #EEEEF0;
   -moz-border-radius: 0.1875rem;
   -webkit-border-radius: 0.1875rem;
   border-radius: 0.1875rem;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.case_study_wrapper {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   height: 20rem;
   padding: 1.875rem;
   background: #EF476F;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
   opacity: 0;
   -webkit-border-radius: 0.1875rem;
   -moz-border-radius: 0.1875rem;
   border-radius: 0.1875rem;
}

.single_case_study:hover .case_study_wrapper {
   opacity: 1;
}

.case_study_wrapper h3,
.case_study_wrapper h4,
.case_study_wrapper p {
   color: #fff;
}

.case_study_wrapper h4 {
   margin: 0.625rem 0rem 1.875rem 0rem;
   font-size: 1.0625rem;
}

.case_study_wrapper h3 {
   font-size: 1.5rem;
}

.case_study_wrapper p {
   font-weight: 300;
}

a.case_study_more {
   width: 2.5rem;
   height: 2.5rem;
   background: #fff;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0.9375rem auto 0rem;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   text-decoration: none;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.case_study_more:hover {
   color: #ef476f
}

/* For Carousel Customization */
.case_studies_carousel.owl-carousel .owl-stage-outer {
   overflow: inherit;
}

.overflow_x_hidden {
   overflow: hidden;
}

.owl-theme .owl-dots .owl-dot span {
   width: 1.25rem;
   height: 0.1875rem;
   background-color: #E2E2E2;
   margin-top: 1.25rem;
}

.owl-theme .owl-dots .owl-dot.active span {
   background-color: #EF476F;
}

/* For Carousel Customization / */

/************************************** 
     Case Study Section End
***************************************/


/************************************** 
     Testimonial Section Start
***************************************/
.testimonial_content p {
   font-size: 1.5rem;
   color: #373737;
   font-weight: 400;
}

.testimonial_carousel.owl-carousel .owl-item .testimonial_meta img {
   width: 3.75rem;
   height: 3.75rem;
   display: inline-block;
   margin-top: 1.875rem;
   background-color: #F0F0F2;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.testimonial_carousel.owl-theme.owl-carousel .owl-dots {
   margin-top: 1.5625rem;
}

.testimonial_meta h4 {
   font-size: 1.125rem;
   margin: 1.5625rem 0rem 0.625rem;
}

.testimonial_meta p {
   font-size: 0.875rem;
   font-weight: 300;
}

.cta_area {
   background-color: #F8F8F8;
   padding: 3.75rem 0rem;
}

.cta_area h2 {
   font-size: 1.75rem;
}

.cta_area .boxed_btn {
   font-size: 0.875rem;
   padding: 0.9375rem 1.5625rem;
}

/************************************** 
     Testimonial Section End
***************************************/


/************************************** 
     Pricing Section Start
***************************************/
.single_pricing_box {
   border: 0.0625rem solid #fbfbfb;
   padding: 1.875rem;
   margin-bottom: 4.6875rem;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.pricing_content {
   font-size: 1.0625rem;
   line-height: 2.4;
   font-weight: 300;
}

.pricing_content li {
   list-style: none;
}

.pricing_heading {
   border-bottom: 0.0625rem solid #fafafa;
   padding-bottom: 1.875rem;
   margin-bottom: 0.9375rem;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.pricing_count {
   font-weight: 400;
   font-size: 3.125rem;
   color: #ef476f;
}

.pricing_heading h4 {
   font-size: 1.25rem;
   margin: 1.5625rem 0rem 0.9375rem;
}

.pricing_heading span {
   font-weight: 300;
   font-size: 0.875rem;
}

.pricing_content ul {
   margin-bottom: 2.5rem;
}

.pricing_content ul li {
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
   cursor: pointer;
   border-bottom: 0.0625rem solid transparent;
}

.pricing_content ul li:hover {
   border-bottom: 0.0625rem solid;
}

.pricing_content a.boxed_btn {
   line-height: 1.4;
}

.single_pricing_box:hover {
   border-color: #EF476F;
}

.single_pricing_box:hover .pricing_heading {
   border-color: #EF476F;
}

/************************************** 
     Pricing Section End
***************************************/


/************************************** 
    Company Logo Start
***************************************/
.owl-carousel .owl-item .logo_item_inner img {
   width: auto;
}

.single_logo_item {
   height: 6.25rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   opacity: .7;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.single_logo_item:hover {
   opacity: 1;
}

/************************************** 
    Company Logo End
***************************************/


/************************************** 
    Footer Area Start
***************************************/
.footer_area {
   background: #fdfdfd;
   padding: 6.25rem 0rem;
}

.footer_area a {
   color: #999999;
   font-weight: 300;
}

.footer_area h4 {
   font-size: 1.25rem;
   margin-bottom: 1.5625rem;
}

.footer_area li {
   list-style: none;
   line-height: 2;
}

.footer_area li a {
   transition: .2s;
}

.email_subscribe_form input[type="email"] {
   border: 0.0625rem solid transparent;
   margin-right: -0.3125rem;
   width: 60%;
   padding: 0.9375rem 0.625rem;
   background-color: #F6F6F6;
}

.email_subscribe_form input[type="submit"] {
   -webkit-border-radius: 0rem 0.1875rem 0.1875rem 0rem;
   -moz-border-radius: 0rem 0.1875rem 0.1875rem 0rem;
   border-radius: 0rem 0.1875rem 0.1875rem 0rem;
   padding: 0.9375rem 1.5625rem;
   border: 0.0625rem solid transparent;
}

.social_links {
   margin-top: 2.5rem;
}

.social_links ul li {
   display: inline-block;
   width: 32%;
}

.social_links ul li a i {
   padding-right: 0.625rem;
   color: #373737;
}

.social_links ul li:hover a {
   color: #EF476F;
}

.social_links ul li a {
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

/************************************** 
    Footer Area End
***************************************/


/************************************** 
    Copyright Area Start
***************************************/
.copyright_area {
   padding: 0.9375rem 0rem;
   background: #f7f7f7;
}

.copyright_area a {
   color: #999;
}

.bottom_to_top {
   width: 3.125rem;
   height: 3.125rem;
   background: #ef476f;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   border: none;
   position: fixed;
   bottom: 13%;
   left: 95%;
   font-size: 1.875rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #fff;
   z-index: 10;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
   opacity: 0;
}

/************************************** 
    Copyright Area End
***************************************/


/************************************** 
   Home-2 Hero Area Start
***************************************/
.hero_form {
   background-color: #fff;
   padding: 30px;
   color: #999;
   position: relative;
   z-index: 1;
   border-radius: 5px;
}

.hero_form:after {
   content: '';
   position: absolute;
   background-color: rgba(255, 255, 255, 0.2);
   width: 100%;
   height: 100%;
   top: 10px;
   left: 10px;
   border-radius: 5px;
   z-index: -1;
}

.hero_form_header h3 {
   font-size: 22px;
}

.hero_form_header p {
   font-size: 14px;
   margin-top: 10px;
}

.hero_form_header {
   margin-bottom: 35px;
}

.hero_form input {
   width: 100%;
   margin-top: 15px;
}

.hero_form input[type="submit"] {
   width: 200px;
   margin-top: 35px;
   display: inline-block;
}

/************************************** 
   Home-2 Hero Area End
***************************************/

/************************************** 
   Home-4 Call to Action Start
***************************************/
.cta_area.call_to_action_4 {
   background-image: url(../img/home-4/call_to_action.jpg);
   background-color: #073b4c;
   z-index: 1;
   position: relative;
   color: #fff;
   background-position: center;
   background-size: cover;
}

.cta_area.call_to_action_4:after {
   content: '';
   position: absolute;
   background: #073b4c;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: .62;
   z-index: -1;
}

.cta_area.call_to_action_4 h2 {
   font-size: 36px;
   color: #fff;
}

.cta_area.call_to_action_4 p {
   font-size: 16px;
   margin: 20px 0px;
}

.cta_area.call_to_action_4 a.boxed_btn {
   background: #06D6A0;
   font-weight: 600;
   letter-spacing: 1px;
}

/************************************** 
   Home-4 Call to Action End
***************************************/


/************************************** 
  Serives v1 what we do for you Start
***************************************/
.cta_area.call_to_action_4.services_cta_v1.what_we_do {
   background-image: url(../img/services-v1/what_we_do_bg.jpg);
   padding: 150px 0px;
}

.cta_area.call_to_action_4.services_cta_v1.what_we_do:after {
   opacity: .4;
}

.cta_area.call_to_action_4.services_cta_v1.what_we_do h2 {
   font-weight: 700;
}

.cta_area.call_to_action_4.services_cta_v1.what_we_do p {
   font-size: 22px;
   font-weight: 400;
}

/************************************** 
   Serives v1 what we do for you End
***************************************/


/************************************** 
   All Services v1 Start
***************************************/
.all_services_v1 .singl_service_box:hover {
   border-color: #06d6a0;
}

.all_services_v1 .singl_service_box:hover .service_icon,
.all_services_v1 .singl_service_box:hover .service_readmore_btn,
.all_services_v1 .singl_service_box:hover h3 {
   color: #06d6a0;
}

.all_services_v1 .service_icon,
.all_services_v1 .service_readmore_btn,
.all_services_v1 .singl_service_box {
   transition: .2s;
}

.footer_area.service_v1 li:hover a,
.social_links.service_v1 ul li:hover a {
   color: #06D6A0;
}

.all_services_v1 .service_icon {
   color: #373737;
}

/************************************** 
   All Services v1 End
***************************************/


/************************************** 
   Services v1 Call to Action Start
***************************************/
.cta_area.call_to_action_4.services_cta_v1 {
   background-image: url(../img/services-v1/services_v1_cta_bg.jpg);
}

.cta_area.call_to_action_4.services_cta_v1 h2 {
   font-weight: 700;
}

.cta_area.call_to_action_4.services_cta_v1 p {
   font-weight: 300;
}

/************************************** 
   Services v1 Call to Action End
***************************************/


/************************************** 
   Serives v2 what we do for you Start
***************************************/
.cta_area.call_to_action_4.services_cta_v2.what_we_do {
   padding: 150px 0px;
   background-image: url(../img/services-v2/what_we_do_bg.jpg);
}

/************************************** 
   Serives v2 what we do for you End
***************************************/


/************************************** 
   Services v2 Call to Action Start
***************************************/
.cta_area.call_to_action_4.services_cta_v2 {
   background-image: url(../img/services-v2/services_v2_cta_bg.jpg);
}

/************************************** 
   Services v2 Call to Action End
***************************************/

/************************************** 
   Services v2 Section Start
***************************************/
.all_services_v2 .singl_service_box:hover .service_icon,
.all_services_v2 .singl_service_box:hover .service_readmore_btn,
.all_services_v2 .singl_service_box:hover h3 {
   color: #06D6A0;
}

.all_services_v2 .singl_service_box:hover {
   border-color: #06D6A0;
}

.service_number {
   font-size: 70px;
   color: #DCDCDC;
   font-weight: 400;
   margin-bottom: -15px;
   display: block;
}

.all_services_v2 .singl_service_box {
   border: 2px solid transparent;
   margin-bottom: 0px;
}

/************************************** 
   Services v2 Section End
***************************************/


/************************************** 
   Service Details Pricing Box Start
***************************************/
.cta_area.call_to_action_4.service_details.what_we_do {
   padding: 150px 0px;
   background-image: url(../img/Service-Details/service_details.jpg);
}

.cta_area.call_to_action_4.service_details.what_we_do.single_blog {
   background-image: url(../img/blog/single_blog_breadcrumb.jpg);
}

section.cta_area.call_to_action_4.service_details.what_we_do {
   padding: 150px 0px;
   background-image: url(../img/Service-Details/service_details.jpg);
}

.service_details .single_pricing_box:hover {
   border-color: #06D6A0;
}

.service_details .single_pricing_box:hover .pricing_heading {
   border-color: #06D6A0;
}

.service_details .pricing_count {
   color: #06D6A0;
}

.service_details .pricing_content ul li:hover {
   border-bottom: 0.0625rem solid transparent;
}

.menu_area.service_details .main_menu ul li a {
   color: #888;
}

.menu_area.service_details .main_menu ul li:hover a {
   color: #06D6A0;
}

.service_details .service_section {
   margin-top: 0px;
}

.service_details .service_content {
   padding-top: 0px;
   padding-bottom: 0px;
}

.service_details .service_content .service_box_4:last-child {
   margin-bottom: 0px;
}


/************************************** 
   Service Details Pricing Box End
***************************************/


/************************************** 
  Home-2 Team Member / Fastest Growing Start 
***************************************/
.about_text h3 {
   margin-bottom: 30px;
}

.about_text .boxed_btn {
   margin-top: 18px;
}

/************************************** 
   Home-2 Team Member / Fastest Growing End 
***************************************/


/************************************** 
   Home-2 Service Start
***************************************/
a.single_service_box_2 {
   background: #FBFBFB;
   width: 100%;
   height: 250px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   text-decoration: none;
   position: relative;
   z-index: 1;
}

a.single_service_box_2:hover :after {
   content: '';
   position: absolute;
   background: #05bdfe;
   background: -moz-linear-gradient(top, #05bdfe 0%, #4482ec 100%);
   background: -webkit-linear-gradient(top, #05bdfe 0%, #4482ec 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#05bdfe), to(#4482ec));
   background: -o-linear-gradient(top, #05bdfe 0%, #4482ec 100%);
   background: linear-gradient(to bottom, #05bdfe 0%, #4482ec 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05bdfe', endColorstr='#4482ec', GradientType=0);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}

a.single_service_box_2:hover .service_icon,
a.single_service_box_2:hover h3 {
   color: #fff;
}

a.single_service_box_2 h3 {
   -webkit-transition: .1s;
   -o-transition: .1s;
   -moz-transition: .1s;
   transition: .1s;
}

/************************************** 
    Home-2 Service End 
***************************************/


/************************************** 
    Home-2 Testimonial Start
***************************************/
.padding-80 {
   padding: 80px 0px;
}

.testimonial_icon {
   background: #fff;
   border: 1px solid #E8E8E8;
   width: 60px;
   height: 60px;
   margin: 0px auto 40px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   color: #299df8;
}

.single_testimonial_item.theme_2 p {
   color: #373737;
   line-height: 2;
   font-weight: 400;
   font-size: 18px;
}

.single_testimonial_item.theme_2 h4 {
   margin-top: 35px;
   font-size: 18px;
}

.single_testimonial_item.theme_2 span {
   font-weight: 300;
   font-size: 14px;
   display: block;
   line-height: 2;
}

.home_2_testimonial_carousel.owl-theme .owl-dots .owl-dot.active span {
   background-color: #06d6a0;
}

/************************************** 
    Home-2 Testimonial End
***************************************/


/************************************** 
    Home-2 Case Study Start
***************************************/
.case_study_preview_1 {
   background-image: url(../img/home-2/home-2-testimonial_1.jpg);
}

.case_study_preview_2 {
   background-image: url(../img/home-2/home-2-testimonial_2.jpg);
}

.case_study_preview_3 {
   background-image: url(../img/home-2/home-2-testimonial_3.jpg);
}

.case_study_2 .case_study_preview_1 {
   background-image: url(../img/home-2/home-2-testimonial_1.jpg);
}

.case_study_2 .case_study_preview_2 {
   background-image: url(../img/home-2/home-2-testimonial_2.jpg);
}

.case_study_2 .case_study_preview_3 {
   background-image: url(../img/home-2/home-2-testimonial_3.jpg);
}

.case_study_2 .case_study_preview_4 {
   background-image: url(../img/case-study/case_study_item_1.jpg);
}

.case_study_2 .case_study_preview_5 {
   background-image: url(../img/case-study/case_study_item_4.jpg);
}

.case_study_2 .case_study_preview_6 {
   background-image: url(../img/case-study/case_study_item_5.jpg);
}

.case_study_preview {
   background-color: #ddd;
   height: 300px;
   width: 100%;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;
   z-index: 1;
   display: table;
}

.case_study_preview:after {
   content: '';
   position: absolute;
   background: #05bdfe;
   background: -moz-linear-gradient(top, #05bdfe 0%, #4482ec 100%);
   background: -webkit-linear-gradient(top, #05bdfe 0%, #4482ec 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#05bdfe), to(#4482ec));
   background: -o-linear-gradient(top, #05bdfe 0%, #4482ec 100%);
   background: linear-gradient(to bottom, #05bdfe 0%, #4482ec 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05bdfe', endColorstr='#4482ec', GradientType=0);
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: 0;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
   z-index: -1;
   -webkit-transform: scale(.8);
   -moz-transform: scale(.8);
   -ms-transform: scale(.8);
   -o-transform: scale(.8);
   transform: scale(.8);
}

.case_study_link_tablecell {
   opacity: 0;
   -webkit-transition: .4s;
   -moz-transition: .4s;
   -o-transition: .4s;
   transition: .4s;
   display: table-cell;
   vertical-align: middle;
}

.case_study_link_tablecell a {
   background: #fff;
   color: #373737;
   font-size: 14px;
}

.case_study_link_tablecell a i {
   padding-left: 10px;
}

.case_study_box_style_2 h4 {
   font-size: 18px;
   margin-top: 30px;
}

.case_study_box_style_2 p {
   font-size: 14px;
   font-weight: 300;
   margin-top: 5px;
}

.case_study_box_style_2 {
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.case_study_box_style_2:hover .case_study_preview:after {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}

.case_study_box_style_2:hover .case_study_preview:after {
   opacity: .5;
}

.case_study_box_style_2:hover .case_study_link_tablecell {
   opacity: 1;
}

/************************************** 
    Home-2 Case Study End
***************************************/


/************************************** 
    Home-2 Pricing Table Start
***************************************/
.single_pricing_box.theme_2 {
   border: none;
   margin: 0px;
}

.theme_2 .pricing_heading {
   background-color: #FBFBFB;
   padding: 25px;
   margin-bottom: 50px;
   border: none;
}

.theme_2 .pricing_heading h4 {
   margin: 0px 0px 15px;
}

.single_pricing_box.theme_2:hover .pricing_heading h4 {
   background: -webkit-linear-gradient(#05bdfe, #4482ec);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.theme_2 p.pricing_count {
   background: -webkit-linear-gradient(#05bdfe, #4482ec);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.theme_2 .pricing_content ul li:hover,
.theme_2 .pricing_content ul li {
   border: none;
}

.theme_2 .pricing_content a.boxed_btn {
   display: block;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

/************************************** 
    Home-2 Pricing Table End
***************************************/


/************************************** 
    Home-2 Blog Section Start
***************************************/
.single_blog_box {
   border: 1px solid #F3F3F3;
   padding: 50px 25px;
   -webkit-transition: .2s;
   -moz-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
}

.single_blog_box:hover {
   border-color: #FBFBFB;
   background: #FBFBFB;
}

.single_blog_box h3 {
   font-size: 20px;
}

.single_blog_box p {
   font-weight: 300;
   line-height: 24px;
   margin: 20px 0px;
}

a.blog_readmore_btn {
   color: #06d6a0;
   font-weight: 400;
   text-decoration: none;
}

a.blog_readmore_btn i {
   padding-left: 5px;
}

/************************************** 
    Home-2 Blog Section End
***************************************/


/************************************** 
  Home-3 Blog Section Start
***************************************/
.home_3_blog .blog_thumb_bg_1 {
   background: url(../img/home-3/blog_1.jpg);
}

.home_3_blog .blog_thumb_bg_2 {
   background: url(../img/home-3/blog_2.jpg);
}

.home_3_blog .blog_thumb_bg_3 {
   background: url(../img/home-3/blog_3.jpg);
}

.home_3_blog.main_blog .blog_thumb_bg_1 {
   background: url(../img/home-3/blog_1.jpg);
}

.home_3_blog.main_blog .blog_thumb_bg_2 {
   background: url(../img/home-3/blog_2.jpg);
}

.home_3_blog.main_blog .blog_thumb_bg_3 {
   background: url(../img/home-3/blog_3.jpg);
}

.home_3_blog.main_blog .blog_thumb_bg_4 {
   background: url(../img/home-3/blog_4.jpg);
}

.home_3_blog.main_blog .blog_thumb_bg_5 {
   background: url(../img/home-3/blog_5.jpg);
}

.home_3_blog.main_blog .blog_thumb_bg_6 {
   background: url(../img/home-3/blog_6.jpg);
}

.home_3_blog.main_blog .blog_thumb_bg_7 {
   background: url(../img/home-3/blog_7.jpg);
}

.home_3_blog.main_blog .blog_thumb_bg_8 {
   background: url(../img/home-3/blog_8.jpg);
}

.home_3_blog.main_blog .blog_thumb_bg_9 {
   background: url(../img/home-3/blog_9.jpg);
}

.home_3_blog a.single_blog_box {
   color: #999;
   font-weight: 300;
   text-decoration: none;
   line-height: 1.9;
   display: block;
   -webkit-box-shadow: 1px 1px 5px 0px #EAEAEA;
   -moz-box-shadow: 1px 1px 5px 0px #EAEAEA;
   box-shadow: 1px 1px 5px 0px #EAEAEA;
   padding: 0px;
}

.home_3_blog.main_blog a.single_blog_box {
   margin-bottom: 30px;
}

.home_3_blog .blog_thumb_wrapper {
   height: 250px;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.home_3_blog .blog_3_content {
   padding: 50px 30px;
}

.home_3_blog .blog_3_content h4 {
   margin: 10px 0px 15px;
   font-size: 18px;
}

/************************************** 
  Home-3 Blog Section End
***************************************/


/************************************** 
    Home-2 Call To Action Section Start
***************************************/
.cta_area.theme_2 h2 {
   color: #fff;
   margin-bottom: 35px;
}

.cta_area.theme_2 {
   background: #58d4fe;
   background: -moz-linear-gradient(top, #58d4fe 1%, #7db9e8 100%);
   background: -webkit-linear-gradient(top, #58d4fe 1%, #7db9e8 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #58d4fe), to(#7db9e8));
   background: -o-linear-gradient(top, #58d4fe 1%, #7db9e8 100%);
   background: linear-gradient(to bottom, #58d4fe 1%, #7db9e8 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#58d4fe', endColorstr='#7db9e8', GradientType=0);

}

.cta_area.theme_2 a.boxed_btn {
   padding-left: 55px;
   padding-right: 55px;
   font-size: 14px;
   color: #333;
   font-weight: 400;
   letter-spacing: 1px;
   background-color: #fff;
}

/************************************** 
    Home-2 Call To Action Section End
***************************************/


/************************************** 
   Home-3 Get Free SEO Analysis Start
***************************************/
.website_check_form input {
   margin-right: 2%;
   width: 23%;
}

.website_check_form input[type="submit"] {
   width: 15%;
}

/************************************** 
  Home-3 Get Free SEO Analysis End 
***************************************/


/************************************** 
Home-3 About Traffic Section Start
***************************************/
.theme_3 .about_text h3 {
   font-size: 24px;
}

.theme_3 .about_text p {
   font-weight: 300;
   margin: 30px 0px 25px;
}

.theme_3 .about_text a.boxed_btn {
   font-size: 14px;
   font-weight: 600;
   letter-spacing: 1px;
}

/************************************** 
  Home-3 About Traffic Section End
***************************************/


/************************************** 
  Home-3 Service Section Start
***************************************/
.theme_3 .singl_service_box:hover .service_icon,
.theme_3 .singl_service_box:hover .service_readmore_btn,
.theme_3 .singl_service_box:hover h3 {
   color: #06D6A0;
}

.theme_3 .singl_service_box:hover {
   border-color: #06D6A0;
}

.theme_3 .singl_service_box {
   border: 2px solid transparent;
   margin-bottom: 0px;
}

/************************************** 
  Home-3 Service Section End
***************************************/


/************************************** 
  Home-3 Case Study Sectin Start
***************************************/
.single_case_study_3 {
   height: 300px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
   z-index: 1;
}

.single_case_study_3:after {
   content: '';
   position: absolute;
   background: #06d6a0;
   width: 100%;
   height: 100%;
   opacity: 0;
   z-index: -1;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s
}

.case_study_tablecell h4,
.case_study_tablecell p,
.case_study_tablecell a.case_study_more_3 {
   color: #fff;
}

.case_study_tablecell {
   font-size: 20px;
   opacity: 0;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.case_study_tablecell p {
   font-weight: 300;
   font-size: 14px;
   margin: 10px 0px 15px;
}

a.case_study_more_3 {
   font-size: 25px;
}

.single_case_study_3:hover .case_study_tablecell {
   opacity: 1;
}

.single_case_study_3:hover:after {
   opacity: .96;
}

.case_study_1 .single_case_study_3 {
   margin: 15px 0px;
}

.case_study_1 .case_study_tablecell {
   margin-bottom: -15px;
}

/************************************** 
  Home-3 Case Study Sectin End
***************************************/


/************************************** 
  Home-3 Call to Action Section Start
***************************************/
.cta_area.theme_3 {
   background-image: url(../img/home-3/cta_bg_3.jpg);
   position: relative;
   z-index: 1;
}

.cta_area.theme_3::after {
   content: '';
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background: #1d62f0;
   background: -moz-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   background: -webkit-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   background: -o-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   background: linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d62f0', endColorstr='#1ad8fd', GradientType=1);
   z-index: -1;
   opacity: .8;
}

.cta_area.theme_3 h2 {
   font-size: 40px;
   color: #fff;
}

.cta_area.theme_3 p {
   font-size: 18px;
   color: #fff;
   margin: 15px 0px 25px;
}

.cta_area.theme_3 a.boxed_btn {
   font-weight: 600;
   letter-spacing: 1px;
   background: #fff;
   color: #373737;
}

/************************************** 
  Home-3 Call to Action Section End
***************************************/


/************************************** 
  Home-3 Footer Area Section Start
***************************************/
.footer_area_2 a {
   color: #888;
}

.footer_area_2 ul li:hover a,
.copyright_area_3 li:hover a {
   color: #06d6a0;
}

.footer_area_2 li {
   list-style: none;
   display: inline-block;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.footer_area_2 a {
   display: inline-block;
   padding: 10px;
}

.footer_area_2 {
   height: 100px;
}

.social_links_3 a {
   padding-left: 7px;
   padding-right: 8px;
}

/************************************** 
  Home-3 Footer Area Section End
***************************************/


/************************************** 
  Home-3 Copy Right Section Start
***************************************/
.copyright_area_3 {
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
   padding: 30px 0px;
}

.copyright_area_3 li {
   list-style: none;
   display: inline-block;
}

.copyright_area_3 a {
   color: #999;
}

.copyright_area_3 ul li a {
   padding: 15px;
   font-weight: 400;
}

.bottom_to_top button.btn.bottom_to_top {
   background: #1b1b1b !important;
}

.copyright_area_3 .bottom_to_top {
   background: #06D6A0;
}

.copyright_area_3 .bottom_to_top:hover {
   color: #2172cf;
}

/************************************** 
  Home-3 Copy Right Section End
***************************************/


/*************************************************
   How can traffic help my buisness grow Start
**************************************************/
.about_text {
   padding-left: 50px;
}

.about_text h3 {
   font-size: 26px;
   margin-bottom: 30px;
}

a.inline_btn {
   font-weight: 600;
   color: #06d6a0;
   margin-top: 25px;
   display: inline-block;
}

a.inline_btn i {
   padding-left: 5px;
}

.tile_gallery img:nth-child(2) {
   position: absolute;
   right: 0%;
   top: 0%;
   -webkit-box-shadow: -3px 10px 15px 0px #bdaba5;
   -moz-box-shadow: -3px 10px 15px 0px #bdaba5;
   box-shadow: -3px 10px 15px 0px #bdaba5;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.tile_gallery {
   height: 480px;
}

.tile_gallery img:nth-child(1) {
   position: absolute;
   bottom: 0%;
   left: 0%;
   z-index: 1;
   -webkit-box-shadow: -3px 10px 15px 0px #bdaba5;
   -moz-box-shadow: -3px 10px 15px 0px #bdaba5;
   box-shadow: -3px 10px 15px 0px #bdaba5;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

/************************************************* 
   How can traffic help my buisness grow End
**************************************************/


/************************************** 
   Service Section Start
***************************************/
.service_section {
   position: relative;
   z-index: 1;
   margin-top: 60px;
}

.service_section:before {
   background-image: url(../img/home-4/service_bg.jpg);
   background-color: #073b4c;
   content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   right: 0%;
   top: -60px;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: center;
   -webkit-box-shadow: 0px 4px 7px 1px #D2D2D2;
   -moz-box-shadow: 0px 4px 7px 1px #D2D2D2;
   box-shadow: 0px 4px 7px 1px #D2D2D2;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.service_section:after {
   content: '';
   position: absolute;
   background-color: #FDFDFD;
   width: 54%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: -1;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: 0px 0px 11px 2px #F2F2F2;
   -moz-box-shadow: 0px 0px 11px 2px #F2F2F2;
   box-shadow: 0px 0px 11px 2px #F2F2F2;
}

.service_details .service_section:after {
   display: none;
}

.service_details .service_section:before {
   display: none;
}

.service_content {
   padding-top: 90px;
   padding-bottom: 40px;
}

.service_box_4 {
   margin-bottom: 50px;
}

.service_box_4 h4 {
   font-size: 18px;
   margin: 10px 0px 25px;
}

.service_icon_4 {
   color: #06D6A0;
   font-size: 40px;
}

/************************************** 
   Service Section End
***************************************/


/************************************** 
   How traffic work Start
***************************************/
.cta_area.theme_4 {
   position: relative;
   z-index: 1;
   color: #fff;
   padding: 90px 0px;
   background-image: url(../img/home-4/how_to_bg.jpg);
   background-color: #073b4c;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
}

.cta_area.theme_4:after {
   content: '';
   background: #000000;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: -1;
   opacity: .1;
}

.cta_area.theme_4 h2 {
   font-size: 36px;
   color: #fff;
}

.cta_area.theme_4 p {
   margin: 25px 0px 20px;
}

.video_play_icon {
   font-size: 20px;
   background: #06D6A0;
   width: 70px;
   height: 70px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border: 1px solid transparent;
}

/************************************** 
   How traffic work End
***************************************/


/************************************** 
   Feature Section Start
***************************************/
.feature_content h2 {
   font-size: 26px;
}

.feature_content span {
   margin: 20px 0px;
   display: block;
}

.single_feature_item h3 {
   font-size: 18px;
}

.single_feature_item {
   margin-top: 40px;
}

.single_feature_item h3 {
   margin-bottom: 30px;
}

.feature_icon {
   font-size: 35px;
   color: #06D6A0;
}

.image_shadow {
   -webkit-box-shadow: 0px 2px 15px 0px #ddd;
   -moz-box-shadow: 0px 2px 15px 0px #ddd;
   box-shadow: 0px 2px 15px 0px #ddd;
}

/************************************** 
   Feature Section End
***************************************/


/************************************** 
   Testimonial Section Start
***************************************/
.single_testimial_box_4 {
   overflow: hidden;
}

.testimonial_content_4 {
   position: relative;
   color: #cbcbcb;
   padding: 28px 20px;
}

.testimonial_content_4:after {
   content: '';
   position: absolute;
   background: #06d6a0;
   width: 50px;
   height: 50px;
   -webkit-transform: skew(21deg) rotate(47deg);
   -moz-transform: skew(21deg) rotate(47deg);
   -ms-transform: skew(21deg) rotate(47deg);
   -o-transform: skew(21deg) rotate(47deg);
   transform: skew(21deg) rotate(47deg);
   left: -3px;
   bottom: -15px;
   z-index: -1;
   opacity: 0;
}

.active .testimonial_content_4:after {
   opacity: 1;
}

.active .testimonial_content_4 {
   background: #06D6A0;
   color: #fff;
}

.testimonial_content_4 i {
   font-size: 40px;
   margin-bottom: 20px;
}

p.author_detail {
   padding-left: 25px;
   font-size: 14px;
}

p.author_detail strong {
   font-weight: 700;
   color: #373737;
}

.testimonial_author {
   margin-top: 50px;
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   opacity: 0;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.active .testimonial_author {
   opacity: 1;
}

.testimonial_author img {
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   width: 60px;
}

/************************************** 
   Testimonial Section End
***************************************/


/************************************** 
       Footer Area Start
***************************************/
.footer_area.theme_4 {
   background: #073B4C;
}

.footer_area.theme_4 a,
.footer_area.theme_4 h4 {
   color: #fff;
}

.footer_area.theme_4 li a i {
   padding-right: 10px;
}

.footer_area.theme_4 li:hover a,
.service_details.footer_area li:hover a {
   color: #06D6A0;
}

.footer_area.theme_4 li {
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.footer_area.theme_4 h4 {
   margin-bottom: 35px;
}

/************************************** 
       Footer Area End
***************************************/


/************************************** 
       Copy Right Area Start
***************************************/
.copyright_area.theme_4 {
   background: #0F2E38;
   color: #fff;
}

.copyright_area.theme_4 a {
   color: #fff;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.copyright_area.theme_4 a:hover {
   color: #06D6A0;
}

/************************************** 
       Copy Right Area End
***************************************/


/************************************** 
      Single Blog Start
***************************************/
.blog_single h3 {
   font-size: 22px;
}

.single_blog_socials {
   border-bottom: 1px solid #fafafa;
   border-top: 1px solid #fafafa;
   padding: 30px 0px;
}

.single_blog_socials li {
   padding: 20px 30px;
   border-radius: 30px;
   list-style: none;
   display: inline-block;
   margin-right: 20px;
}

.single_blog_socials li i {
   padding-right: 15px;
}

.single_blog_socials li a {
   color: #fff;
   text-decoration: none;
   display: block;
   font-family: 'myriad-pro', sans-serif;
}

.single_blog_socials ul li:nth-child(1) {
   background: #275BAA;
}

.single_blog_socials ul li:nth-child(2) {
   background: #28C8F0;
}

.single_blog_socials ul li:nth-child(3) {
   background: #D6061E;
}

.post_author {
   border-bottom: 1px solid #fafafa;
}

.post_author p {
   padding: 20px 0px;
}

.reply_form input {
   width: 100%;
   margin-bottom: 30px;
   border-color: #f9f9f9;
}

.reply_form textarea {
   width: 100%;
   border-color: #f9f9f9;
}

.reply_form input:focus,
.reply_form textarea:focus {
   border-color: #06d6a0;
   outline: none;
}

input.post_submit {
   width: 150px;
   display: inline-block;
   margin-top: 30px;
   margin-bottom: 0px;
}

/************************************** 
      Single Blog End
***************************************/