/************************************** 
   Home-3 Header Area Start
***************************************/
.slide_bg_1 {
   background-image: url(../img/home-3/slide_bg_1.jpg);
}

.single_slide_item {
   position: relative;
   z-index: 1;
   height: 100vh;
   color: #fff;
   font-weight: 300;
   line-height: 1.8;
}

.single_slide_item:after {
   content: '';
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background: #1d62f0;
   background: -moz-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   background: -webkit-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   background: -o-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   background: linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d62f0', endColorstr='#1ad8fd', GradientType=1);
   z-index: -1;
   opacity: .9;
}

.single_slide_item h2 {
   font-size: 64px;
   color: #fff;
   margin-bottom: 15px;
   line-height: 70px;
}

a.video_play_btn {
   color: #fff;
   width: 60px;
   height: 60px;
   background: #06D6A0;
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   text-decoration: none;
   margin-top: 30px;
   font-size: 20px;
}

.homepage_3_slides.owl-carousel.owl-theme .owl-nav button {
   position: absolute;
   top: 50%;
   left: 50px;
   color: #fff;
   font-size: 30px;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   transform: translateY(-50%);
   opacity: .5;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.homepage_3_slides.owl-carousel.owl-theme .owl-nav button.owl-next {
   left: auto;
   right: 50px;
}

.homepage_3_slides.owl-theme .owl-nav [class*=owl-]:hover {
   background: transparent;
   opacity: 1;
}

.homepage_3_slides.owl-carousel.owl-theme .owl-dots {
   position: absolute;
   left: 50%;
   bottom: 0%;
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   transform: translateX(-50%);
}

.owl-theme .owl-dots .owl-dot.active span {
   background-color: #06d6a0;
}

.menu_area .main_menu ul li a {
   color: #fff;
}

/************************************** 
   Home-3 Header Area End 
***************************************/


/************************************** 
   Home-3 Get Free SEO Analysis Start
***************************************/
.boxed_btn,
input[type="submit"],
button[type="submit"] {
   background: #06D6A0;
}

.website_check_form input {
   margin-right: 2%;
   width: 23%;
}

.website_check_form input[type="submit"] {
   width: 15%;
}

/************************************** 
  Home-3 Get Free SEO Analysis End 
***************************************/


/************************************** 
Home-3 About Traffic Section Start
***************************************/
.theme_3 .about_text h3 {
   font-size: 24px;
}

.theme_3 .about_text p {
   font-weight: 300;
   margin: 30px 0px 25px;
}

.theme_3 .about_text a.boxed_btn {
   font-size: 14px;
   font-weight: 600;
   letter-spacing: 1px;
}

/************************************** 
  Home-3 About Traffic Section End
***************************************/


/************************************** 
  Home-3 Service Section Start
***************************************/
.theme_3 .singl_service_box:hover .service_icon,
.theme_3 .singl_service_box:hover .service_readmore_btn,
.theme_3 .singl_service_box:hover h3 {
   color: #06D6A0;
}

.theme_3 .singl_service_box:hover {
   border-color: #06D6A0;
}

.theme_3 .service_number {
   font-size: 70px;
   color: #DCDCDC;
   font-weight: 400;
   margin-bottom: -15px;
   display: block;
}

.theme_3 .singl_service_box {
   border: 2px solid transparent;
   margin-bottom: 0px;
}

/************************************** 
  Home-3 Service Section End
***************************************/


/************************************** 
  Home-3 Case Study Sectin Start
***************************************/
.single_case_study_3 {
   height: 300px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
   z-index: 1;
}

.single_case_study_3:after {
   content: '';
   position: absolute;
   background: #06d6a0;
   width: 100%;
   height: 100%;
   opacity: 0;
   z-index: -1;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s
}

.case_study_tablecell h4,
.case_study_tablecell p,
.case_study_tablecell a.case_study_more_3 {
   color: #fff;
}

.case_study_tablecell {
   font-size: 20px;
   opacity: 0;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.case_study_tablecell p {
   font-weight: 300;
   font-size: 14px;
   margin: 10px 0px 15px;
}


a.case_study_more_3 {
   font-size: 25px;
}

.single_case_study_3:hover .case_study_tablecell {
   opacity: 1;
}

.single_case_study_3:hover:after {
   opacity: .96;
}

/************************************** 
  Home-3 Case Study Sectin End
***************************************/


/************************************** 
  Home-3 Blog Section Start
***************************************/
.blog_thumb_bg_1 {
   background: url(../img/home-3/blog_1.jpg);
}

.blog_thumb_bg_2 {
   background: url(../img/home-3/blog_2.jpg);
}

.blog_thumb_bg_3 {
   background: url(../img/home-3/blog_3.jpg);
}

a.single_blog_box {
   color: #999;
   font-weight: 300;
   text-decoration: none;
   line-height: 1.9;
   display: block;
   -webkit-box-shadow: 1px 1px 5px 0px #EAEAEA;
   -moz-box-shadow: 1px 1px 5px 0px #EAEAEA;
   box-shadow: 1px 1px 5px 0px #EAEAEA;
}

.blog_thumb_wrapper {
   height: 250px;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.blog_3_content {
   padding: 50px 30px;
}

.blog_3_content h4 {
   margin: 10px 0px 15px;
   font-size: 18px;
}


/************************************** 
  Home-3 Blog Section End
***************************************/


/************************************** 
  Home-3 Call to Action Section Start
***************************************/
.cta_area.theme_3 {
   background-image: url(../img/home-3/cta_bg_3.jpg);
   position: relative;
   z-index: 1;
}

.cta_area.theme_3::after {
   content: '';
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background: #1d62f0;
   background: -moz-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   background: -webkit-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   background: -o-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   background: linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d62f0', endColorstr='#1ad8fd', GradientType=1);
   z-index: -1;
   opacity: .8;
}

.cta_area.theme_3 h2 {
   font-size: 40px;
   color: #fff;
}

.cta_area.theme_3 p {
   font-size: 18px;
   color: #fff;
   margin: 15px 0px 25px;
}

.cta_area.theme_3 a.boxed_btn {
   font-weight: 600;
   letter-spacing: 1px;
   background: #fff;
   color: #373737;
}

/************************************** 
  Home-3 Call to Action Section End
***************************************/


/************************************** 
  Home-3 Footer Area Section Start
***************************************/
.footer_area_2 a {
   color: #888;
}

.footer_area_2 ul li:hover a,
.copyright_area_3 li:hover a {
   color: #06d6a0;
}

.footer_area_2 li {
   list-style: none;
   display: inline-block;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
}

.footer_area_2 a {
   display: inline-block;
   padding: 10px;
}

.footer_area_2 {
   height: 100px;
}

.social_links_3 a {
   padding-left: 7px;
   padding-right: 8px;
}

/************************************** 
  Home-3 Footer Area Section End
***************************************/


/************************************** 
  Home-3 Copy Right Section Start
***************************************/
.copyright_area_3 {
   -webkit-transition: .2s;
   -o-transition: .2s;
   -moz-transition: .2s;
   transition: .2s;
   padding: 30px 0px;
}

.copyright_area_3 li {
   list-style: none;
   display: inline-block;
}

.copyright_area_3 a {
   color: #999;
}

.copyright_area_3 ul li a {
   padding: 15px;
   font-weight: 400;
}

.bottom_to_top button.btn.bottom_to_top {
   background: #1b1b1b !important;
}

.copyright_area_3 .bottom_to_top {
   background: #06D6A0;
}

.copyright_area_3 .bottom_to_top:hover {
   color: #2172cf;
}

/************************************** 
  Home-3 Copy Right Section End
***************************************/