body {
   font-weight: 300;
   line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 700;
}

/************************************** 
  Off Canvas Menu Start
***************************************/
.off_canvas_menu {
   position: fixed;
   width: 300px;
   height: 100%;
   background: #073b4c;
   z-index: 99;
   left: -300px;
   top: 0;
   opacity: 0;
   padding: 40px;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.off_canvas_menu.show_off_canvas_menu {
   left: 0px;
   opacity: 1;
}

.menu_close {
   position: absolute;
   right: 0px;
   top: 0px;
   padding: 20px;
   color: #fff;
   cursor: pointer;
}

.off_canvas_menu a {
   color: #fff;
   text-decoration: none;
}

.menu_logo {
   text-transform: uppercase;
   border: 1px solid #999;
   display: inline-block;
   padding: 10px 15px 1px;
   margin-bottom: 20px;
   margin-top: 20px;
   font-weight: 700;
}

.off_canvas_menu ul li {
   list-style: none;
   line-height: 2;
   font-size: 120%;
}

.off_canvas_menu a:hover {
   opacity: .5;
}

.menu_area.header_absolute {
   position: fixed;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.menu_area.scrolled {
   background: #073B4C;
   padding: 0px;
}

.menu_area.scrolled .menu_trigger,
.menu_area.scrolled .search_trigger {
   padding: 7px 0px;
}

.menu_trigger,
.search_trigger {
   color: #fff;
   font-size: 18px;
   padding: 20px 0px;
   cursor: pointer;
   line-height: 51px;
}

.search_box {
   padding: 10px;
   width: 20%;
   display: inline-block;
   position: fixed;
   left: 58%;
   border: 1px solid #999;
   opacity: 0;
   z-index: -1;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
}

.search_box.active {
   opacity: 1;
   z-index: 1;
}

.off_canvas_menu_shade {
   background: #073b4c;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 98;
   opacity: 0;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -moz-transition: .3s;
   transition: .3s;
   visibility: hidden;
}

.off_canvas_menu_shade.active {
   opacity: .84;
   visibility: visible;
}

.bottom_to_top {
   background: #073b4c;
}

.bottom_to_top:hover {
   color: #06d6a0;
}

/************************************** 
  Off Canvas Menu End
***************************************/


/************************************** 
         Header Area Start
***************************************/
.homepage_4_slides {
   background-image: url(../img/home-4/home-4-hero-area-bg.jpg);
   height: 100vh;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   position: relative;
   z-index: 1;
   color: #fff;
   background-color: #073b4c;
}

.homepage_4_slides:after {
   content: '';
   position: absolute;
   background-color: #073b4c;
   opacity: .25;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.single_slide_item h1 {
   font-size: 46px;
   color: #fff;
   font-weight: 700;
}

.single_slide_item p {
   line-height: 28px;
   margin: 30px 0px;
   font-weight: 300;
}

.website_check_form input {
   width: 22%;
   margin-right: 3%;
   background: #073B4C;
   border-color: #073b4c;
   caret-color: #fff;
   color: #fff;
}

.website_check_form input[type="submit"] {
   width: 15%;
   background: #06D6A0;
}

.website_check_form input::-webkit-input-placeholder {
   color: #fff;
}

.website_check_form input:-moz-placeholder {
   color: #fff;
}

.website_check_form input::-moz-placeholder {
   color: #fff;
}

.website_check_form input:-ms-input-placeholder {
   color: #fff;
}

.website_check_form input::-ms-input-placeholder {
   color: #fff;
}

.website_check_form input::placeholder {
   color: #fff;
}

/************************************** 
         Header Area End
***************************************/


/************************************** 
How can traffic help my buisness grow Start
***************************************/
.about_text {
   padding-left: 50px;
}

.about_text h3 {
   font-size: 26px;
   margin-bottom: 30px;
}

a.inline_btn {
   font-weight: 600;
   color: #06d6a0;
   margin-top: 25px;
   display: inline-block;
}

a.inline_btn i {
   padding-left: 5px;
}

.tile_gallery img:nth-child(2) {
   position: absolute;
   right: 0%;
   top: 0%;
   -webkit-box-shadow: -3px 10px 15px 0px #bdaba5;
   -moz-box-shadow: -3px 10px 15px 0px #bdaba5;
   box-shadow: -3px 10px 15px 0px #bdaba5;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.tile_gallery {
   height: 480px;
}

.tile_gallery img:nth-child(1) {
   position: absolute;
   bottom: 0%;
   left: 0%;
   z-index: 1;
   -webkit-box-shadow: -3px 10px 15px 0px #bdaba5;
   -moz-box-shadow: -3px 10px 15px 0px #bdaba5;
   box-shadow: -3px 10px 15px 0px #bdaba5;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

/************************************** 
How can traffic help my buisness grow End
***************************************/


/************************************** 
   Service Section Start
***************************************/
.service_section {
   position: relative;
   z-index: 1;
   margin-top: 60px;
}

.service_section:before {
   background-image: url(../img/home-4/service_bg.jpg);
   content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   right: 0%;
   top: -60px;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: center;
   -webkit-box-shadow: 0px 4px 7px 1px #D2D2D2;
   -moz-box-shadow: 0px 4px 7px 1px #D2D2D2;
   box-shadow: 0px 4px 7px 1px #D2D2D2;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.service_section:after {
   content: '';
   position: absolute;
   background-color: #FDFDFD;
   width: 54%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: -1;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: 0px 0px 11px 2px #F2F2F2;
   -moz-box-shadow: 0px 0px 11px 2px #F2F2F2;
   box-shadow: 0px 0px 11px 2px #F2F2F2;
}

.service_content {
   padding-top: 90px;
   padding-bottom: 40px;
}

.service_box_4 {
   margin-bottom: 50px;
}

.service_box_4 h4 {
   font-size: 18px;
   margin: 10px 0px 25px;
}

.service_icon_4 {
   color: #06D6A0;
   font-size: 40px;
}

/************************************** 
   Service Section End
***************************************/


/************************************** 
   How traffic work Start
***************************************/
.cta_area.theme_4 {
   position: relative;
   z-index: 1;
   color: #fff;
   padding: 90px 0px;
}

.cta_area.theme_4:after {
   content: '';
   position: absolute;
   background-image: url(../img/home-4/how_to_bg.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: -1;
}

.cta_area.theme_4 h2 {
   font-size: 36px;
   color: #fff;
}

.cta_area.theme_4 p {
   margin: 25px 0px 20px;
}

.video_play_icon {
   font-size: 20px;
   background: #06D6A0;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border: 1px solid transparent;
}

/************************************** 
   How traffic work End
***************************************/